In [1]:
import sqlite3
import pandas as pd

In [8]:
# connect to the SQLite database
conn = sqlite3.connect("bank.db")

# acquire user from dataset
df_users = pd.read_sql_query("SELECT * FROM users", conn)
display(df_users)

# acquire transactions from dataset
df_transactions = pd.read_sql_query("SELECT * FROM transactions", conn)
display(df_transactions)

# close the connection
conn.close()

,id,account_no,username,password_hash,created_at,totp_secret
0,1,409000611074,user_409000611074,$pbkdf2-sha256$29000$BOB8753zHsN4T4kxRohRqg$FT...,2025-04-15 14:18:58.977968,None
1,2,409000493201,user_409000493201,$pbkdf2-sha256$29000$Meacs/b.X.s9R4jxnpPS2g$ru...,2025-04-15 14:18:59.367296,None
2,3,409000425051,user_409000425051,$pbkdf2-sha256$29000$HoOQsjZGyHnvHSPk3FtrrQ$bH...,2025-04-15 14:18:59.759929,None
3,4,409000405747,user_409000405747,$pbkdf2-sha256$29000$aW3t/b/XuhfCeG9NScnZew$BF...,2025-04-15 14:19:00.061316,None
4,5,409000438611,user_409000438611,$pbkdf2-sha256$29000$o1TqXcs5p7R2znkv5dw7xw$Y/...,2025-04-15 14:19:00.098383,None
5,6,409000493210,user_409000493210,$pbkdf2-sha256$29000$5tx7z5nzXqs1ZkyplRLinA$//...,2025-04-15 14:19:01.693826,None
6,7,409000438620,user_409000438620,$pbkdf2-sha256$29000$sNa6tzZGCIEQAuA8x3jvnQ$Bu...,2025-04-15 14:19:03.772121,None
7,8,1196711,user_1196711,$pbkdf2-sha256$29000$uXfufc.513rPOcc4ZwxhjA$Xj...,2025-04-15 14:19:08.477793,None
8,9,1196428,user_1196428,$pbkdf2-sha256$29000$ulcqhXAOgbAWIgQgpHQOYQ$7k...,2025-04-15 14:19:12.191382,None
9,10,409000362497,user_409000362497,$pbkdf2-sha256$29000$D4EQIsTYW8t5L0VoDcG4tw$FH...,2025-04-15 14:19:29.334886,None
10,11,123,user123,$pbkdf2-sha256$29000$FyIkJKRU6p3TOseY855Tqg$H....,2025-04-18 13:24:01.640050,None
11,12,999999,"""><script>alert('XSS!')</script>",$pbkdf2-sha256$29000$3FuLkVKq9f4fI6RUylmrlQ$S3...,2025-04-20 01:18:25.204571,None
12,13,12345678,12345678,$pbkdf2-sha256$29000$6z2HEEKI0dqbUyqF8J6T8g$0T...,2025-04-21 16:15:29.100237,None
13,14,123456,LHJ,$pbkdf2-sha256$29000$fW.Nca61Vuodo/Qe4/yfMw$.f...,2025-04-22 01:53:44.121553,YAL34UYQB7M4ILF2M43OEAKIN2GRBQ7N
14,15,1234567,LHJ1,$pbkdf2-sha256$29000$trbW.t.bkzJmLCUkJAQgxA$.F...,2025-04-22 02:04:50.722415,PVZFFQZ25ERLEO7D6PMSLJ7GMU6JJFEM
15,16,1234562,LHJ2,$pbkdf2-sha256$29000$VEoJgfDeW.s9p7SWMoaQsg$I4...,2025-04-22 02:23:38.374076,EHC4JE36GIKV267P6O3FNALKCUX6C4EH
16,17,1234563,LHJ3,$pbkdf2-sha256$29000$DwFACGFMKcVYy5mz1lqLkQ$Tu...,2025-04-22 02:28:04.866598,UUZM2GB3IVOKUYJ73UW43DOMBEG736QG
17,18,1234564,LHJ4,$pbkdf2-sha256$29000$sXYuJUQIAaDUmnNujXGu9Q$zI...,2025-04-22 02:33:39.430897,H2Z3ZLXJSGTOS53JHEL4YGMEQZY3UTE5
18,19,1234565,LHJ5,$pbkdf2-sha256$29000$P8cYIwTAeO9dC6HUGsPYew$ib...,2025-04-22 02:36:59.796563,TQ3W6QHX56JDITG55WY3JB3JEGLGHAWO
19,20,1234566,LHJ6,$pbkdf2-sha256$29000$BuBcC6H0XgsBgJCy1lrr/Q$hi...,2025-04-22 02:37:20.023894,YJG2RB5AWDN2DG76LQBZPGDMHWXDBZLF

,id,user_id,account_no,date,transaction_details,chq_no,value_date,withdrawal_amt,deposit_amt,balance_amt
0,1,1,409000611074,2017-06-29 00:00:00.000000,TRF FROM Indiaforensic SERVICES,None,2017-06-29 00:00:00.000000,NaN,1000000.0,1.000000e+06
1,2,1,409000611074,2017-07-05 00:00:00.000000,TRF FROM Indiaforensic SERVICES,None,2017-07-05 00:00:00.000000,NaN,1000000.0,2.000000e+06
2,3,1,409000611074,2017-07-18 00:00:00.000000,FDRL/INTERNAL FUND TRANSFE,None,2017-07-18 00:00:00.000000,NaN,500000.0,2.500000e+06
3,4,1,409000611074,2017-08-01 00:00:00.000000,TRF FRM Indiaforensic SERVICES,None,2017-08-01 00:00:00.000000,NaN,3000000.0,5.500000e+06
4,5,1,409000611074,2017-08-16 00:00:00.000000,FDRL/INTERNAL FUND TRANSFE,None,2017-08-16 00:00:00.000000,NaN,500000.0,6.000000e+06
...,...,...,...,...,...,...,...,...,...,...
116197,116198,10,409000362497,2019-03-05 00:00:00.000000,FDRL/INTERNAL FUND TRANSFE,None,2019-03-05 00:00:00.000000,NaN,300000.0,-1.901602e+09
116198,116199,10,409000362497,2019-03-05 00:00:00.000000,FDRL/INTERNAL FUND TRANSFE,None,2019-03-05 00:00:00.000000,NaN,300000.0,-1.901302e+09
116199,116200,10,409000362497,2019-03-05 00:00:00.000000,IMPS 05-03-20194C,None,2019-03-05 00:00:00.000000,109868.65,NaN,-1.901412e+09
116200,116201,10,409000362497,2019-03-05 00:00:00.000000,Sweep Trf To: 40900036427,None,2019-03-05 00:00:00.000000,5000.00,NaN,-1.901417e+09
116201,116202,1,409000611074,2025-04-20 15:25:11.781741,Transfer to 8675309: Security Verification,None,2025-04-20 15:25:11.781747,999.99,NaN,0.000000e+00

In [3]:
conn = sqlite3.connect('bank.db')
conn.execute('ALTER TABLE users ADD COLUMN totp_secret TEXT')
conn.commit()
conn.close()

In [7]:
import pyotp
import qrcode

# TOTP secret key
secret = "YAL34UYQB7M4ILF2M43OEAKIN2GRBQ7N"

totp_uri = pyotp.totp.TOTP(secret).provisioning_uri(name="demo_user", issuer_name="DigitalBank")

print("TOTP URI for QR code:")
print(totp_uri)

img = qrcode.make(totp_uri)

img.show()

TOTP URI for QR code:
otpauth://totp/DigitalBank:demo_user?secret=YAL34UYQB7M4ILF2M43OEAKIN2GRBQ7N&issuer=DigitalBank